.wrap {
    display: flex;
    height: 76px;
    padding: 16px;
    align-items: center;
    gap: 12px;
    align-self: stretch;

    border-radius: 16px;
    border: 1px solid var(--Primary, #120f07);

    .text {
        max-width: 332px;
        width: 100%;
        font-family: 'Inter-Regular';

        .subText {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
