.wrap {
    display: flex;
    max-width: 1728px;
    width: 100%;
    margin: 0 auto;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--Sand-Dark, #e5e3db);
    background: var(--Sand-Light, #f8f7f4);
}

.crumbs {
    max-width: 371px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crumbs span {
    cursor: pointer;
}

.label {
    color: var(--Primary, #120f07);
    font-family: 'ClashDisplay-Bold';
    font-size: 24px;
    font-weight: 700;
}

.basketCrumbsWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.amount {
    display: flex;
    padding: 2px 5px;
    align-items: center;
    border-radius: 50px;
    border: 1px solid var(--Primary, #120f07);
    color: var(--Primary, #120f07);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    width: 26px;
    height: 26px;
    justify-content: center;

    &.notEmpty {
        border: 1px solid var(--Red, #d84840);
        background: var(--Red, #d84840);
        color: var(--White, #fff);
    }
}
