.wrap {
    display: flex;
    max-width: 549px;
    min-width: 328px;
    width: 100%;
    max-height: 618px;
    height: 100%;
    border-radius: 32px;
    padding-bottom: 24px;
    gap: 24px;
    font-family: 'Inter-Regular';
    background-color: var(--Sand-Dark, rgba(229, 227, 219, 1));
    flex-direction: column;
    overflow: hidden;
}

.wrap:hover {
    cursor: pointer;
    background: var(--White, rgba(255, 255, 255, 1));
}

.lowerBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    max-width: 549px;
    width: 100%;
    height: 52px;
    padding: 0px 24px 0px 34px;
}

.name {
    display: inline-flex;
    max-width: 311px;
    width: 100%;
    font-family: 'Inter-Bold';
    font-size: 18px;
    letter-spacing: -1px;
}

.coast {
    font-family: 'Inter-Bold';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.1px;
    margin-top: 8px;
}

.coastError {
    color: var(--Red, rgba(216, 72, 64, 1));
}
.lowerButton {
    visibility: hidden;
}

.wrap:hover .lowerButton {
    visibility: visible;
}
