.wrap {
    display: flex;
    max-width: 1680px;
    width: clamp(328px, 100%, 1680);
    padding: 40px 24px;
    gap: 48px;
    background: var(--Orange-Light, #ffe089);
    border-radius: 85px;
    margin: clamp(1rem, 0.636rem + 1.78vw, 2.5rem) 0;
    justify-content: center;
}

.element {
    display: flex;
    flex-direction: column;
    width: clamp(280px, 100%, 496px);
    gap: 16px;
    text-align: center;

    .photo {
        border-radius: 200px;
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }

    .text {
        font-family: 'ClashDisplay-Medium';
        font-size: 19px;
    }
}

@media screen and (max-width: 1200px) {
    .wrap {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 450px) {
    .element {
        .photo {
            width: 140px;
            height: 140px;
        }
    }
}
