.wrap {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: clamp(328px, 100%, 1720px);
    background: var(--Sand-Light, #f8f7f4);
    padding-top: clamp(1.5rem, 1.264rem + 1.15vw, 2.5rem);
    gap: 24px;
}

.title {
    font-family: 'ClashDisplay-Bold';
    font-size: clamp(2.125rem, 2.037rem + 0.43vw, 2.5rem);
}

.content {
    display: flex;
    gap: clamp(1.5rem, 1.264rem + 1.15vw, 2.5rem);
    padding-bottom: clamp(1rem, 0.882rem + 0.57vw, 1.5rem);

    .element {
        display: flex;
        flex-direction: column;
        gap: clamp(1rem, -1.667rem + 13.01vw, 5rem);

        .heading {
            display: flex;
            flex-direction: column;
            width: clamp(328px, 100%, 740px);
            gap: 16px;

            .caption {
                font-family: 'ClashDisplay-Medium';
                font-size: clamp(1.5rem, 1.102rem + 1.94vw, 2rem);
                line-height: clamp(1.75rem, 1.153rem + 2.91vw, 2.5rem);
            }

            .text {
                font-family: 'Inter-Regular';
                font-size: clamp(0.875rem, 0.676rem + 0.97vw, 1.125rem);
                line-height: clamp(1.375rem, 1.076rem + 1.46vw, 1.75rem);
                letter-spacing: -0.18px;
            }
        }
        .photo {
            border-radius: 32px;
        }
    }
}

@media screen and (max-width: 850px) {
    .content {
        flex-wrap: wrap;
        .element {
            flex-direction: column-reverse;
        }
    }
}
