.wrap {
    display: flex;
    flex-direction: column;
    width: clamp(328, 100%, 820px);
    border-bottom: 1px solid #000;
    padding-bottom: 24px;

    &.delBorder:last-child {
        border-bottom: none;
    }
}

.titleWrap {
    display: flex;
    gap: clamp(1.5rem, 0.833rem + 3.25vw, 2.5rem);
    width: clamp(328, 100%, 840px);
    justify-content: space-between;
    cursor: pointer;

    .title {
        width: clamp(272, 100%, 720px);
        color: var(--Primary, #120f07);
        font-size: clamp(1.5rem, 1.196rem + 1.79vw, 2rem);
        font-family: 'ClashDisplay-Medium';
        line-height: clamp(1.75rem, 1.314rem + 2.56vw, 2.5rem);
    }
}

.answerWrapClose {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: clamp(272, 100%, 720px);
    height: 0px;
    font-size: clamp(0.875rem, 0.723rem + 0.89vw, 1.125rem);
    font-weight: 400;
    line-height: clamp(1.375rem, 1.157rem + 1.28vw, 1.75rem);
    letter-spacing: -0.18px;
    transition: 0.3s;
    transform-origin: top center;
    transform: scaleY(0);
    opacity: 0;

    &.answerWrapActive {
        opacity: 1;
        height: 100%;
        transform: scaleY(1);
        padding-top: clamp(1rem, 0.709rem + 1.71vw, 1.5rem);
    }
}

.iconWrapClose {
    max-height: 40px;
    transition: 0.3s;
    rotate: 0deg;
}

.iconWrapOpen {
    transition: 0.3s;
    rotate: 45deg;
}
