.wrap {
    display: flex;
    flex-direction: column;
    max-width: 820px;
    width: 100%;
    border-bottom: 1px solid #000;
    gap: 40px;
    padding: 24px 0px 24px 0px;
}

.titleWrap {
    display: flex;
    gap: 40px;
    max-width: 840px;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;

    .title {
        max-width: 720px;
        width: 100%;
        color: var(--Primary, #120f07);
        font-family: 'ClashDisplay-Medium';
    }
}

.answerWrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 740px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.18px;
    transition: 0.3s;
    transform-origin: top center;
    transform:scaleY(0);
    opacity: 0;

    &.answerClose{
        height: 0px;
    }

    &.answerActive {
        opacity: 1;
        max-height: 100%;
        transform:scaleY(1);
        
    }
}

.iconWrap {
    transition: 0.3s;
    rotate: 0deg;
}

.iconWrapOpen {
    transition: 0.3s;
    rotate: 45deg;
}

/* @keyframes iconOpen {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(45deg);
    }
}

@keyframes iconClose {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(0deg);
    }
} */
