.wrap {
    display: flex;
    width: clamp(360px, 100%, 1728px);
    flex-direction: column;
    gap: 24px;
}

.title {
    font-family: 'ClashDisplay-Bold';
    font-size: clamp(2.25rem, 2.039rem + 0.89vw, 3rem);
}

.listWrap {
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 1.013rem + 4.15vw, 5.5rem);

    .list {
        display: flex;
        gap: clamp(2rem, 1.859rem + 0.59vw, 2.5rem);

        .title {
            width: clamp(328px, 100%, 820px);
            color: var(--Primary, #120f07);
            font-family: 'ClashDisplay-Medium';
            font-size: clamp(1.125rem, 0.878rem + 1.04vw, 2rem);
        }

        .questionsWrap {
            display: flex;
            flex-direction: column;
            width: clamp(328px, 100%, 820px);
            gap: 24px;
        }
    }
}

@media screen and (max-width: 1160px) {
    .listWrap {
        .list {
            flex-wrap: wrap;
        }
    }
}
