.wrap {
    display: flex;
    max-width: 1728px;
    width: 100%;
    padding: 40px 24px 40px 24px;
    flex-direction: column;
    gap: 24px;
    background: var(--Sand-Light, #f8f7f4);
}

.title {
    font-family: 'ClashDisplay-Bold';
    font-size: 48px;
}

.listWrap {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .list {
        display: flex;
        gap: 40px;
        padding-bottom: 20px;

        .title {
            max-width: 820px;
            width: 100%;
            color: var(--Primary, #120f07);
            font-family: 'ClashDisplay-Medium';
            font-size: 32px;
            padding-top: 24px;
        }

        .questionsWrap {
            display: flex;
            flex-direction: column;
            width: 820px;
        }
    }
}

@media screen and (max-width: 1160px) {
    .listWrap {
        gap: 10px;

        .list {
            flex-wrap: wrap;
            gap: 10px;

            .title {
                font-size: 18px;
            }

            .questionsWrap {
                min-width: 328px;
                font-size: 14px;
            }
        }
    }
}
