.wrap {
    display: flex;
    margin: 0 auto;
    max-width: clamp(328px, 100%, 1680px);
    width: 100%;
    padding: clamp(3.75rem, 3.447rem + 1.48vw, 5rem) 0px;
    flex-direction: column;
    gap: clamp(3.75rem, 3.447rem + 1.48vw, 5rem);
    box-sizing: content-box;
}

.note {
    display: flex;
    margin: 0 auto;
    max-width: clamp(328px, 100%, 600px);
    text-align: center;
    flex-direction: column;
    gap: 16px;

    .title {
        font-family: 'ClashDisplay-Bold';
        font-size: clamp(2.125rem, 1.07rem + 5.15vw, 3rem);
        line-height: clamp(2.25rem, 1.346rem + 4.41vw, 3rem);
    }
    .text {
        font-family: 'Inter-Regular';
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.18px;
    }
}

.images {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;

    .photo {
        border-radius: 32px;
    }
}
