.wrapInput {
    display: flex;
    justify-content: space-between;
    padding: 6px 6px 6px 16px;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid var(--Primary, #120f07);
    background: var(--White, #fff);
    font-family: 'Inter-Medium';

    &.basket {
        border: none;
        background: transparent;
        padding: 0;
        gap: 12px;
        justify-content: unset;
    }
}

.wrap {
    position: relative;
    max-width: 354px;
    width: 100%;

    &.basket {
        max-width: unset;
    }
}

.calendarWrap {
    position: absolute;
    top: 0;
    z-index: 5;

    &.basket {
        top: -200px;
    }
}

.date {
    color: var(--Primary, #120f07);

    font-family: 'ClashDisplay-Medium';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;

    &.error {
        color: var(--Red, #d84840);
    }
}
